<h1>About Us</h1>
<div class="contain">
    <div class="row">
        <p>Welcome to Cafe Management System, where we blend tradition with innovation to offer you a unique and delightful experience. Our journey began with a passion for creating a space where people can enjoy not just great coffee and food, but also a warm and welcoming atmosphere.</p>  
        <h4>What We Do</h4>
        <p>At Cafe Management System, we are dedicated to providing a seamless and enjoyable experience for both our customers and staff. Our cafe management system is designed to streamline daily operations, from order processing and inventory management to customer relationship management. By leveraging the latest technology, we ensure that every aspect of our cafe runs smoothly, allowing us to focus on what truly matters—serving our customers with the best quality products and services.</p>
        <h4>Our Vision</h4>
        <p>Our vision is to be more than just a cafe. We aim to create a community hub where people can connect, relax, and enjoy themselves. We believe in sustainability, quality, and customer satisfaction. Our goal is to continuously innovate and improve, offering an experience that leaves a lasting impression on everyone who walks through our doors.

        </p>
    </div>
    <img src="images01.jpeg" alt="" class="shadow-effect">
</div>