<div class="container-fluid">
    <div class="home">
        <button routerLink="/home" >Home</button>
    </div>
    
    <form>
        <h2>Login</h2>
        <span class="form__span">or use your email account</span>
        <div class="row">
            <input type="text" name="username" placeholder="Username" [(ngModel)]="emailId"/>
            <div class="error">{{errormessage}}</div>
        </div>
        <div class="row">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
            <div class="error">{{perrormessage}}</div>
        </div>
       
        <div class="bottom">
            <a routerLink = "/change-password">Forget password?</a><br>
                <span>Don't have an account?</span>
            <a routerLink = "/register">Register now</a>    
        </div>
        <button type="button" (click)="login()"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Login</button>
    </form>
</div>
