<footer>
    <div class="container">
        <div class="p1">
            <div class="d1">
                <div class="sub1">
                    <h1>Cafe House</h1>
                    
                    
                </div>
                <div class="sub2">
                    <h5>COMPANY</h5>
                    <a href="#" style="color: #000000; text-decoration: none;">About</a><br>
                    <a href="#" style="color: #000000; text-decoration: none;">Careers</a><br>
                    <a href="#" style="color: #000000; text-decoration: none;">Team</a><br>
                    

                </div>
                <div class="sub3">
                    <h5>CONTACT US</h5>
                    <a href="#" style="color: #000000; text-decoration: none;">Help & Support</a><br>
                    <a href="#" style="color: #000000; text-decoration: none;">Partner with us</a><br>
                    <a href="#" style="color: #000000; text-decoration: none;">Ride with us</a><br>
                </div>
                <div class="sub4">
                    <h5>LEGAL</h5>
                    <a href="#" style="color: #000000; text-decoration: none;">Terms & Condition</a><br>
                    <a href="#" style="color: #000000; text-decoration: none;">Cookie Policy</a><br>
                    <a href="#" style="color: #000000; text-decoration: none;">Privacy Policy</a><br>
                </div>
            </div>
                <hr>
                <div class="d2">
                    <div class="facebook">
                        <i class="bi bi-facebook"></i>
                    </div>
                    <div class="instagram">
                        <i class="bi bi-instagram"></i>
                    </div>
                    <div class="github">
                        <i class="bi bi-github"></i>
                    </div>
                    <div class="google">
                        <i class="bi bi-google"></i>
                    </div>
                </div>
                <!-- <div class="cp">
                    <span>©Copyright.All Rights Reserved</span>
                </div> -->
        </div>
    </div>
</footer>
