<div class="login-box">
    <h2>Contact</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Name</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Email id</label>
      </div>
       <div class="user-box">
        <input type="text" name="" required="">
        <label>Message</label>
      </div>
      <button type="button" class="button">Submit</button>
  
      accept="image/*"
    </form>
  </div>
  