<div class="container-fluid shadow-effect">
    <nav class="navbar navbar-expand-lg ">
      <div class="containers">
        
        <a class="navbar-brand" href="#"><img src="coffee-logo.png" alt="" class="logo"> Cafe Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-ul ">
            <li class="nav-item active">
              <i class="bi bi-house-door-fill"></i>
              <a class="nav-link" >Home </a>
            </li>
            <li class="nav-item">
              <i class="bi bi-card-checklist"></i>
              <a class="nav-link" routerLink = "/admin/admin-menulist"  fragment="admin-menu-section">Menu</a>
            </li>
            <li class="nav-item">
              <i class="bi bi-cart-plus"></i>
              <a class="nav-link" routerLink = "/admin/add-item" fragment="admin-addItem-section">Add Item</a>
            </li>
            <li class="nav-item">
              <i class="bi bi-list-check"></i>
              <a class="nav-link" routerLink = "/admin/admin-orderlist" fragment="admin-order-section">Order list</a>
            </li>
            <li class="nav-item">
              <i class="bi bi-person-circle"></i>
              <a class="nav-link" routerLink = "/admin/admin-profile" fragment="admin-profile-section">Profile</a>
            </li>
            <li class="nav-item">
              <i class="bi bi-box-arrow-in-left"></i>
              <a class="nav-link" (click)="logoutLink()" >Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="cover-title">
      <h1>Cafe House</h1>
      <h4>Where every cup tells a story and every visit feels like home.</h4>
    </div>
    
      
      <img src="coffee-cover-image copy.jpg" alt="" class="cover-image">
      
      <div class="gallery ">
        <img src="pngwing.com (2).png" alt="a dream catcher">
        <img src="pngwing.com (3).png" alt="a piano">
        <img src="pngwing.com (4).png" alt="a live concert">
        <img src="pngwing.com (5).png" alt="Paris">
      </div>
        
  </div>
  
  
  <br><br>

  




  
  
  
  
  