<div class="container-fluid shadow-effect" id="admin-order-section">
    <h1 style="text-align: center;">Order List</h1>
   
    
<br /> <br />

<!-- <div class="centered ">
    <mat-form-field>
        <input matInput [max]="today" [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="changeDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
</div> -->

<div class="centered serachField">
    <input 
      type="date" 
      [max]="today | date:'yyyy-MM-dd'" 
      placeholder="Choose a date" 
      (input)="changeDate($event)">
  </div>
   
 

<br /> <br />
<div *ngIf="orderList.length>0" class="centered">
    <table>
        <tr>
            <th>Order Date</th>
            <th>Total price</th>
            <th>Order Status</th>
            <th>Payment Status</th>
            <th>Custmer Name</th>
        </tr>
        <tr *ngFor="let order of orderList">
            <td>{{getDate(order?.orderDate)}}</td>
            <td>{{order?.totalPrice}}</td>
            <td>{{order?.orderStatus === 'success' ? 'Order not confirmed' : order?.orderStatus}}</td>
            <td>{{order?.paymentStatus === 'success' ? 'UnPaid' : order?.paymentStatus}}</td>
            <td>{{order?.customer?.firstName}} {{order?.customer?.lastName}}</td>
        </tr>
    </table>
</div>
<br>
<br>
<br>
<br>
</div>